{$SSL_HOSTNAME} {
    @denyAll {
        not remote_ip {$ADMIN_IPS}
        not path /hls*
        not path /thumbnail.jpg
    }

    route @denyAll {
        header X-Robots-Tag "None"
        respond "Access Denied" 403
    }

    reverse_proxy owncast:8080
}
